.container{
    margin-bottom: 100px;
}
.nav-link{
    background-color: #fffdfa;
}
.model-button{
    background-color: #d42727;
    border-radius: 5px;
    border: gray;
    color: #dddada;
}
.orange-bg{
    background-color: #fceae8;
    /* padding-left: 20px; */
    border-radius: 10px;
}
/* h1{
    color:chocolate;
}
p{
    color: #119960;
} */
.carousel-item{
    padding: 20px 20px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color:#fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;  
}
.cat2{
    background-color:orchid;
}
.cat3{
    background-color:blueviolet;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.cat1:hover{
    background-color: rgb(179, 182, 187);
    transform: scale(1.1);
    box-shadow: 1px 1px 1px 1px pink;
    z-index: 2;
}
.cat2:hover{
    background-color: rgb(179, 182, 187);
    transform: scale(1.1);
    box-shadow: 1px 1px 1px 1px pink;
    z-index: 2;
}
.cat3:hover{
    background-color: rgb(179, 182, 187);
    transform: scale(1.1);
    box-shadow: 1px 1px 1px 1px pink;
    z-index: 2;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    width: 300px;
}
#subscribe h6{
    color: gray;
}